.midiv{
    width: 500px;
    margin: 90px auto;
    border: 3px solid black; 
    background-image: url(https://static9.depositphotos.com/1113140/1105/i/450/depositphotos_11058932-stock-photo-white-wood-background.jpg);
    border-radius: 6px;
    }
.input{
    width: 450px;
	background-color:white;
	height:90px;
    margin: 20px;
    font-size: 55px;
	   border: 3px solid black; 
    border-radius: 6px;
    font-family: monospace;
    text-align: center;
    
    }
.botones{
    width: 100px;
    margin: 10px;
    font-size: 50px;
  background-color: gray;
    color: white;
    border-radius: 6px;

}
.botones:hover{
    opacity: 0.6;

  }
  
.boton{
    width: 225px;
    margin: 10px;
    font-size: 50px;
  background-color: gray;
    color: white;
    border-radius: 6px;

}
.boton:hover{
    opacity: 0.6;

  }
