
.midiv{
    width: 250px;
    margin: 90px auto;
    border: 3px solid black; 
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/133/727/non_2x/vector-wood-planks-background.jpg);
    border-radius: 6px;
    }
.inputText{
    width: 210px;
    margin: 20px;
    font-size: 40px;
    border-radius: 6px;
    
    }
.botones{
    width: 210px;
    margin: 20px;
    font-size: 40px;
  background-color: peru;
    color: white;
    border-radius: 6px;

}
.botones:hover{
    opacity: 0.6;
    text-decoration: none;
  }

    #resultado{
        border: 3px solid black;
        background-color: white;
        width: 210px;
        margin: 20px;
        font-size: 40px;
        border-radius: 6px;
   
    }       