#canvas { 
    border: 3px solid black; 
    background-image: url(https://i0.wp.com/webdelmaestro.com/wp-content/uploads/2018/02/Paisajes-f%C3%A1ciles-de-dibujar-3.jpg);
   
    margin-right: 400px;
    float: right;

}