.pantalla{
    width: 580px;
    height: 580px;
    margin: 2px ;
    position:relative;
    top:120px;
    left:20px;
    border: 2px solid black; 
    border-radius: 6px;
    background-image: url(https://image.freepik.com/vector-gratis/hombre-mujer-hablando-burbuja-dialogo-aislado_24877-44034.jpg);
    }
    .pantalla2{
        width: 580px;
        height: 760px;
        margin: 2px ;
        position:relative;
        top:-466px;
        left:670px;
        border: 2px solid black; 
        border-radius: 6px;
        background-image: url(https://www.dibujosyjuegos.com/dibujos/galleries/Musica/Cantantes/dibujos-gente-cantando-004.gif);
        }
        .pantalla3{
            width: 580px;
            height: 580px;
            margin: 2px ;
            position:relative;
            top:-1230px;
            left:1300px;
            border: 2px solid black; 
            border-radius: 6px;
            background-image: url(https://image.freepik.com/vector-gratis/hombre-gordo-sonriente-divertido-que-sostiene-jarra-grande-cerveza_118421-170.jpg);
            }
            .conversar{
              width: 130px;
              height: 120px;
              margin: 10px ;
              position:relative;
            top:30px;
            left:140px;
            font-size: 25px;
             
             
              
              }
              .conversar1{
                width: 130px;
                height: 120px;
                margin: 10px ;
                position:relative;
              top:-90px;
              left:330px;
              
               font-size: 25px;
               
                
                }
                .canto{
                  width: 130px;
                  height: 120px;
                  margin: 10px ;
                  position:relative;
                top:30px;
                left:40px;
                 
 
                  
                  }
                  .pola{
                    width: 60px;
                    height: 110px;
                    margin: 10px ;
                    position:relative;
                  top:-62px;
                  left:215px;
                   
                   
                    
                    }
                    .mensajepola{
                      width: 130px;
                      height: 120px;
                      margin: 10px ;
                      position:relative;
                    top:0px;
                    left:40px;
                    font-size: 25px;
                    
                      
                      }
             
            .boton{
                width: 120px;
                
                font-size: 20px;
              background-color: black;
                color: white;
                border-radius: 6px;
            
            }
            .boton:hover{
                opacity: 0.6;
            
              }
