.casilla{

    width:120px;
    height: 120px;
    font-size: 80px;
    color:  red;
    border-color: red;
    font-weight: bold;    
    text-align: center;
}

#tablero{

    width: 40%;
    margin: 0 auto;
    border-color: black ;
    

}
.turnito{
    color:white;
    font-size: 80px;
    font-weight: bold; 

}